<!DOCTYPE html>
<html class="<%= class_names("hotwire-native": hotwire_native_app?) %>" lang="<%= I18n.locale %>">
  <head>
    <%= render "head" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body data-controller="bridge--menu-button <%= "bridge--notification-token" if user_signed_in? %>">
    <header>
      <%= impersonation_banner %>
      <%= render "flash" %>
      <%= render "navbar" %>
    </header>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <%= render "footer" unless hotwire_native_app? %>
  </body>
</html>
