<!DOCTYPE html>

<html
  class="<%= class_names("hotwire-native": hotwire_native_app?) %>"
  lang="<%= I18n.locale %>"
>
  <head><%= render "head" %></head>

  <body>
    <header>
      <%= impersonation_banner %>
      <%= render "flash" %>

      <nav class="minimal-top-nav">
        <%= link_to root_path, class: "block" do %>
          <%= image_tag "logo.png", alt: Jumpstart.config.application_name, class: "h-24 w-auto -my-6" %>
          <span class="sr-only"><%= Jumpstart.config.application_name %></span>
        <% end %>
      </nav>
    </header>

    <main><%= content_for?(:content) ? yield(:content) : yield %></main>
  </body>
</html>
